<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de Arquivos</title>
</head>
<body>
    <h1>Upload de Arquivos para {{ client.client_name }}</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file">Escolha um arquivo:</label>
        <input type="file" name="file" id="file" required>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
