<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Cliente</title>
</head>
<body>
    <h1>Cadastrar Cliente</h1>
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="id_client_name">Nome do Cliente:</label>
            {{ form.client_name }}
        </p>
        <p>
            <label for="id_client_email">Email do Cliente:</label>
            {{ form.client_email }}
        </p>
        <p>
            <label for="id_start_date">Data de Início:</label>
            <input type="date" name="start_date" id="id_start_date" required value="{% now 'Y-m-d' %}">
        </p>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>
